li{
  list-style: none;
}
a {
  text-decoration: none;
}

body{
  padding-top: 60px;
  padding-left: 220px;
  background-color: #F5F7FF;
  position: relative;
}



section#main{
  width: 100%;
  min-height: 2000px;
  padding: 30px;
  box-sizing: border-box;
}

div#category_top_menu_wrap{
  width: 100%;
  height: 120px;
  background: white;
  border-radius: 15px;
  margin-top: -20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
ul#category_top_menu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

ul#category_top_menu>li{
  width: 12%;
  height: 60px;
}
button.category_btn{
  width: 100%;
  height: 100%;
  border: solid 1px #cccccc;
  border-radius: 30px;
  color: #7a7a7a;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  font: 500 15px "Noto Sans KR";
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}
button.category_btn>i{
  float: left;
  color: #7a7a7a;
  font-size: 20px;
  margin-right: 18px;
}

button.category_btn:hover{
  background: #3757FF;
  border: solid 1px #3757FF;
  color: white;
}

div#category_content_wrap{
  width: 100%;
  min-height: 100px;
  padding: 20px 20px 50px 20px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
}
div#category_list{
  width: 100%;
  min-height: 100px;
  padding: 30px 20px;
  box-sizing: border-box;
}

ul#category_list_in{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  box-sizing: border-box;
}
ul#category_list_in>li{
  width: 230px;
  height: 300px;
  background: white;
  border-radius: 10px;
  margin-bottom: 30px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
ul#category_list_in>li:hover{
  width: 233px;
  height: 303px;
  transition: ease-out 0.3s;
  box-shadow: 3px 10px 20px rgba(0,0,0,0.5);
}
ul#category_list_in>li img{
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;

}



nav#category_page{
  width: 160px;
  height: 40px;
  margin: 0 auto;
}

